@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>

<ul>
    <li><a asp-action="TotalVerbaliPerTrasgressore">Totale dei Verbali per Trasgressore</a></li>
    <li><a asp-action="TotalPuntiDecurtatiPerTrasgressore">Totale dei Punti Decurtati per Trasgressore</a></li>
    <li><a asp-action="ViolazioniOltreDieciPunti">Violazioni con Decurtamento Punti Maggiore di 10</a></li>
    <li><a asp-action="ViolazioniImportoMaggioreDiQuattrocento">Violazioni con Importo Maggiore di 400 Euro</a></li>
</ul>
