@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div>
    <a asp-action="AdminProduct" class="btn btn-primary">Manage Products</a>
    <a asp-action="AdminIngredient" class="btn btn-secondary">Manage Ingredients</a>
</div>
