#sticky {
  position: sticky !important;
  top: 7em !important;
}

.myBg {
  background-color: #10111a;
}

.myTextColor {
  color: #51566b;
}

.myBorder {
  border-color: #51566b !important ;
}

.myGradient {
  background: linear-gradient(
    180deg,
    rgba(27, 28, 43, 0.6054796918767507) 19%,
    rgba(16, 17, 26, 0.6138830532212884) 77%
  );
}

#fantasy {
  background: linear-gradient(
    90deg,
    rgba(39, 124, 251, 1) 19%,
    rgba(87, 73, 238, 1) 58%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 1.5em;
}

.myBtn {
  background: linear-gradient(
    180deg,
    rgba(39, 124, 251, 1) 19%,
    rgba(87, 73, 238, 1) 77%
  );
  color: white;
  border: 2px solid white;
  font-size: 1.8rem;
}

.myBtn:hover {
  opacity: 0.5;
}
