
body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-left: 5rem;
   
}

#logo {
    margin-top: 2rem;/* Spostato più in basso rispetto all'h1 */
    width: 6rem; 
    height: auto; 
}

h1 {
    font-weight: normal;
    font-size: 4rem; /* Ingrandito il testo */
    margin-top: 7rem; /* Spostato più in basso rispetto all'immagine */
    margin-bottom: 1rem;
}

strong {
    margin-top: -1rem;
}


h2 {
    color: #d20094;
    padding: 5px;
    margin-top: 1rem;
}

p {
    margin-top: -1rem;
}

ul {
    margin-top: 4rem;
}

.checkbox {
    margin-top: 7rem;
}

label {
    margin-top: 6rem; /* Spostato più in basso */
    margin-bottom: 6rem;
}


#buttonProceed {
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px darkturquoise; /* Aggiunto box-shadow */
    background-color: darkturquoise; /* colore di sfondo */
    color: white;
    padding: 15px 32px;
    margin-left:40rem;
    text-align: center;
    transition-duration: 0.4s; /* Durata della transizione */
    cursor: pointer;
    margin-bottom: 6rem;
}

#buttonProceed:hover {
    background-color: turquoise; /* Cambia il colore di sfondo al passaggio del mouse */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Aggiungi un'ombra */
}

#showScore    {
    height: 100vh;
    text-align: center;
    align-items: center;
    color:white;}

#risultato > div {
    float: left; /* Allinea i div a sinistra */
    width: calc(33.33% - 0.625rem); /* Imposta la larghezza in base alla percentuale e sottrae lo spazio per il margine */ 
    text-align: center; /* Allinea il testo al centro all'interno del div */
    
}

.percentuali{
    padding-top: 150px;
}

#confettiCanvas{
    margin: -80;
    display: none;
}

#risultato {
    position: relative; /* Imposta il contenitore dei risultati come relativo */
    margin-bottom: 25rem;
    margin-top: -30px;
}

#buttonRateUs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    font-size: 1rem;
    color: white;
    padding: 18px 58px;
    border: 3px solid white;
    cursor: pointer;
    margin-left: 1.7em;
    margin-top: -30;
}


#buttonRateUs:hover {
    background-color: turquoise;
    box-shadow: 0 0 10px darkturquoise;
    transition-duration: 0.4s;
}

#Results {
    text-align: center;
    margin-top: -80px;
}

#Results h1 {
    font-weight: 555;
}

#Results p {
    font-weight: 400;
}

.percentuali{
    color: white;
}
.percentuali h2 {
    color: white;
    font-size: 3rem;
 }

.percentuali p {
    line-height: 0;

}












#benchmark  {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra l'intero contenuto verticalmente */
    height: 100vh;
}

#benchmark h2 {
    font-size: 40px;
}
.quiz {
    margin-top: 10rem;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Imposta una larghezza fissa per il contenitore */
    max-width: 100%; /* Assicura che il contenitore non superi la larghezza massima del viewport */
}



#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Due colonne di larghezza uguale */
    gap: 1em; /* Spazio tra i bottoni */
    justify-content: center; /* Centra i bottoni sull'asse x */
}


 #benchmark #logo{
    width: 15em;
    position: absolute; /* Posiziona l'elemento in modo assoluto rispetto al contenitore padre */
    top: 0.5rem; /* Posiziona l'elemento all'inizio della pagina */
    left: 11rem; /* Posiziona l'elemento a sinistra */
    
}


h2 {
    color: white;
    margin-bottom: 4rem;
}

#number-question {
    color: white;
    text-align: left; /* Allinea il testo a sinistra */
    margin: 0; /* Rimuove il margine predefinito */
    margin-top:3rem;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Assicura che il div si estenda per tutta la larghezza */
    max-width: 100%;
}

#next-btn {
    background-color: transparent; /* Rimuove il colore di sfondo */
    border: none; /* Rimuove il bordo */
    margin-left: auto;
    margin-top: 3rem;
    color: white; /* Imposta il testo in bianco */
    border:2px solid white;
    padding:1rem 2rem;
}

#next-btn:hover{
    background-color: #D20094;
    
}




.btn {
    background-color: rgba(255, 255, 255, 0.1); /* Sfondo bianco con opacità del 10% */
    width: 90%; /* Larghezza del 100% per adattarsi alle colonne */
    height: 50px; /* Altezza fissa per i bottoni */
    margin-bottom: 10px; /* Spazio inferiore tra i bottoni */
    color: white;
    border-radius: 25px; /* Arrotonda completamente i bordi */
    border-top: 2px solid rgb(255, 255, 255,0.7); /* Bordo bianco con opacità del 20% sopra */
    border-left: 2px solid rgb(255, 255, 255,0.5); /* Bordo bianco con opacità del 20% sopra */
    border-right: 2px solid rgb(255, 255, 255,0.5); /* Bordo bianco con opacità del 20% sopra */
    border-bottom: none;
    overflow: hidden; /* Nasconde qualsiasi contenuto al di fuori del bordo */
    font-size: 20px;
    font-family: "Inter", sans-serif;
    
}

.btn:hover {
    background-color: #D20094;
    border-bottom : 2px solid #900080;
}
.btn.selected {
    background-color: #D20094;
    border-bottom: 2px solid #900080;
}

.question-count { /*colore sulla parte in basso , dove mette su quale domanda ci troviamo tipo question 1/10*/
    color:  #900080;
    font-weight:900;
}



/******************************************CSS per timer**************************************************************/
#container {
    color: white;
    position: absolute; 
    top: 0; /* Posiziona l'elemento all'inizio della pagina */
    right: 0; /* Posiziona l'elemento a sinistra */
    margin-top: 2rem;
    margin-right: 11rem;
    
    
}

#timer {
    font-size: 2rem;
}

/*******************************************************************************************************************/
