body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed; 
    height: 100vh;
    text-align: center;
    align-items: center;
    color:white;
}

#divIMG{
    display: inline-block;
    width: 80%;
    text-align: left; /* Allinea il contenuto del div a sinistra */
}

#logo{
    width: 15em;
    margin-top: 2%;
    margin-left: 6%;
    float: left;
    
}



#risultato > div {
    float: left; /* Allinea i div a sinistra */
    width: calc(33.33% - 0.625rem); /* Imposta la larghezza in base alla percentuale e sottrae lo spazio per il margine */ 
    text-align: center; /* Allinea il testo al centro all'interno del div */
    
}

.percentuali{
    padding-top: 150px;
}

#buttonRateUs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    font-size: 1rem;
    color: white;
    padding: 18px 58px;
    border: 3px solid white;
    cursor: pointer;
}

#risultato {
    position: relative; /* Imposta il contenitore dei risultati come relativo */
    margin-bottom: 30rem;
}


#buttonRateUs:hover {
    background-color: turquoise;
    box-shadow: 0 0 10px darkturquoise;
    transition-duration: 0.4s;
}