main {
  background-image: url("https://www.liveabout.com/thmb/rMU5h016FWlzc5tsOIYd5hefTnw=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/469027587-56ab5ab65f9b58b7d00972fb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header,
footer {
  background-color: #f8b7dd;
  h4,
  h2,
  h5,
  h1 {
    color: white;
  }
}
