node_modules/
/github/week13/1-4/d1/primoprogetto/.vs/primoprogetto
/github/week13/1-4/d2/secondogiorno/.vs/secondogiorno
/github/week13/1-4/d2/.vs
/github/week13/1-4/d2/secondogiorno/.vs
/github/week13/1-4/d3/terzogiorno/.vs/terzogiorno
/github/week13/1-4/d3/terzogiorno/terzogiorno/obj
/github/week13/d5/quintogiorno/.vs/quintogiorno
/github/week14/1-4/d1/primogiorno/.vs
/github/week14/1-4/d2/secondogiorno/.vs
/github/week14/d5/quintogiorno/.vs
/github/week15/1-4/d1/primogiorno
/.vs
/.gitignore
/github/week17/1-4/d1/progetto1-4/.vs
/github/week17/1-4/d2/progetto1-4/.vs
/github/week17/d5/quintogiorno/.vs
/github/week18/1-4/d1/progettoweek2/.vs
/github/week18/1-4/d2/progettoweek2/.vs
/github/week18/1-4/d3/progettoweek2/.vs
/github/week18/1-4/d4/progettoweek2/.vs
/github/week18/d5/progettoweek2/.vs
/github/week19/1-4/d1/W9.InTheOven/.vs/W9.InTheOven
/github/week19/1-4/d1/W9.InTheOven/.vs/ProjectEvaluation
/github/week19/1-4/d2/W9.InTheOven/.vs
/github/week19/1-4/d3/W9.InTheOven/.vs
/github/week19/1-4/d4/PizzeriaWebApp/.vs
/github/week19/d5/PizzeriaWebApp/.vs
