<div class="container-fluid text-center py-5" id="home">
  <div class="row">
    <div class="col-12">
      <img
        src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWFtbjY1cXVrdG4wZmc2cHFja3h2aXJnd3JsZnMzbHN4M2wxcnl6dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QYECbEHYafe9O/giphy.gif"
        alt="Undi sta endu?"
        class="img-fluid rounded-4"
      />
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-5">
        <h3 class="display-6 mt-3 text-white">
          Signore, credo sia giunto il momento di ritirarsi strategicamente da
          questa pergamena virtuale e dirigersi verso altre lande del
          cyberspazio.
        </h3>
        <a routerLink="/" class="btn myBtn mt-4">RITORNA ALLA HOME</a>
      </div>
    </div>
  </div>
</div>
