<nav id="sfondo" class="navbar navbar-expand-lg position-sticky top-0 z-3">
  <div class="container justify-content-around">
    <a class="" routerLink="">
      <img class="cla1" src="../../../assets/img_logo/Logo ridimensionato.png" alt="Logo" />
    </a>
    <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarSupportedContent" class="navbar-toggler" type="button"
      [ngClass]="{ 'menu-open': !isCollapsed }">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': !isCollapsed }" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-2 fw-bold">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="" routerLinkActive="active-link">Home</a>
        </li>

        <li class="nav-item dropdown" *ngIf="isLoggedIn" [ngClass]="{ show: openDropdown === 'shop' }"
          (mouseleave)="closeDropdown()">
          <a class="nav-link dropdown-toggle text-white" id="dropdownMenuButton" aria-expanded="false"
            (click)="toggleDropdown('shop')" [attr.aria-expanded]="openDropdown === 'shop'">
            Attività
          </a>

          <ul class="dropdown-menu" [ngClass]="{ show: openDropdown === 'shop' }" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item" routerLink="dashboard/newpg" routerLinkActive="active-link">Creazione pg</a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="dashboard/eventi-disponibili">Eventi disponibili</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="dashboard/eventi">Crea eventi</a>
            </li>

          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <div class="nav-item dropdown me-auto mb-2 mb-lg-0 fs-2 fw-bold" *ngIf="!isLoggedIn"
          [ngClass]="{ show: openDropdown === 'login' }" (mouseleave)="closeDropdown()">
          <a class="nav-link dropdown-toggle text-white" id="dropdownMenuButtonLogin" aria-expanded="false"
            (click)="toggleDropdown('login')" [attr.aria-expanded]="openDropdown === 'login'">
            Accedi
          </a>
          <ul class="dropdown-menu" [ngClass]="{ show: openDropdown === 'login' }"
            aria-labelledby="dropdownMenuButtonLogin">
            <li><a class="dropdown-item" routerLink="/auth/login">Login</a></li>
            <li>
              <a class="dropdown-item" routerLink="/auth/register">Registrati</a>
            </li>
          </ul>
        </div>

        <div class="nav-item dropdown me-auto mb-2 mb-lg-0 fs-2 fw-bold" *ngIf="isLoggedIn"
          (mouseleave)="closeDropdown()" [ngClass]="{ show: openDropdown === 'user' }">
          <a class="nav-link dropdown-toggle text-white" id="dropdownMenuButtonUser" aria-expanded="false"
            (click)="toggleDropdown('user')" [attr.aria-expanded]="openDropdown === 'user'">
            <img *ngIf="user?.immagine" class="imgP" [src]="[user?.immagine]" alt="immagine profilo" />
            <img *ngIf="!user?.immagine" class="imgP"
              src="https://cdn.icon-icons.com/icons2/3446/PNG/512/account_profile_user_avatar_icon_219236.png"
              alt="immagine profilo" />
            <!-- qui ci va l'immagine del profilo (dinamica) metto temporaneamente un template con un immagine finta -->
            {{ user?.username }}
          </a>
          <ul class="dropdown-menu" [ngClass]="{ show: openDropdown === 'user' }"
            aria-labelledby="dropdownMenuButtonUser">
            <li>
              <a class="dropdown-item" routerLink="/dashboard/profile">Account</a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/dashboard/active_users">Giocatori attivi</a>
            </li>
            <li class="dropdown-item clickable" *ngIf="isLoggedIn" (click)="logout()">
              <span class="nav-link" routerLinkActive="active-link">
                Logout
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>