@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizzeria "In forno"</h1>
    <p>Explore our delicious pizza offerings!</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
</div>
