<h1 class="text-center mt-3 mb-5">Bentornato {{ user.nome }}</h1>

<div class="container">
  <div class="row">
    <div
      class="card col-12 col-sm-6 col-lg-3 p-1 text-center"
      *ngFor="let film of movie"
    >
      <img [src]="film.Url" class="card-img-top" alt="..." height="400px" />
      <div class="card-body">
        <h5 class="card-title">{{ film.nome }}</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia amet ad
          doloremque maiores provident unde vitae rem! Assumenda, asperiores
          hic? Blanditiis, aliquam quisquam vero placeat minus odio inventore
          omnis porro!
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
