@model Product

<form asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group my-2">
        <label asp-for="Name">Nome Prodotto</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label asp-for="Price">Prezzo</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label asp-for="Description">Descrizione</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label asp-for="ImageFile">Aggiungi un'immagine</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>
    <div class="text-center mt-4">
    <button type="submit" class="btn btn-primary">Aggiungi Prodotto</button>
    </div>
</form>
