@model ProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}
@section Styles {
    <link rel="stylesheet" href="/css/edit.css" />
}

<div class="container d-flex justify-content-center align-items-center militare mt-4">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <h1 class="mb-4 mt-2 text-center text-white">Edit Product</h1>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ProductId" />
            @if (Model.Images != null && Model.Images.Count > 0)
            {
                <div class="form-group text-center">
                    <label class="mb-2 text-white">Existing Images</label>
                    <div class="d-flex flex-wrap text-center">
                        @foreach (var image in Model.Images)
                        {
                            <div class="mb-1 text-center m-auto">
                                <img src="data:image;base64,@(Convert.ToBase64String(image.ImageData))" class="img-thumbnail text-center" width="150" height="150" />
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="form-group text-center my-2 text-white">
                <label asp-for="ImageFiles" class="control-label">Images</label>
                <div class="file-input-container">
                    <label class=" btn btnOroange border-1 border-light" for="imageFiles">Choose files</label>
                    <input asp-for="ImageFiles" id="imageFiles" type="file" multiple class="file-input" />
                    <span id="fileNameDisplay" class="file-name">Click here to change files</span>
                </div>
                <span asp-validation-for="ImageFiles" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Name" class="control-label mb-2 text-white"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Price" class="control-label mb-2 text-white"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Brand" class="control-label mb-2 text-white"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Seller" class="control-label mb-2 text-white"></label>
                <input asp-for="Seller" class="form-control" />
                <span asp-validation-for="Seller" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Quantity" class="control-label mb-2 text-white"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
           
           
            <div class="form-group my-2">
                <label asp-for="Description" class="control-label mb-2 text-white"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center align-items-center my-2 text-white">
                <input asp-for="Available" type="checkbox" class="form-check-input mx-2" />
                <label asp-for="Available" class="form-check-label"></label>
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            
            <div class="form-group text-center mt-5 mb-2">
                <button type="submit" class="btn btnOroange border-1 border-light">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('imageFiles').addEventListener('change', function () {
        const fileInput = this;
        const fileName = fileInput.files.length > 0 ? Array.from(fileInput.files).map(f => f.name).join(', ') : 'Click here to change files';
        fileInput.nextElementSibling.innerText = fileName;
    });
</script>