<div class="myBg">
  <div class="container">
    <h1 class="text-center pt-5 fw-bolder gradtitolo">PROFILO PERSONALE</h1>
    <div class="row p-0 m-0">
      <div class="col-12 d-flex justify-content-center">
        <div class="mb-3 cd my-5">
          <div class="row">
            <div class="col-md-4">
              <img
                *ngIf="user?.immagine"
                [src]="[user?.immagine]"
                class="img-fluid rounded-start rounded-circle"
                alt="..."
              />
              <img
                *ngIf="!user?.immagine"
                src="https://cdn.icon-icons.com/icons2/3446/PNG/512/account_profile_user_avatar_icon_219236.png"
                class="img-fluid rounded-start rounded-circle"
                alt="..."
              />
            </div>
            <div class="col-md-8 myGradient rounded-5 p-4">
              <div class="card-body text-light">
                <label class="fs-5 gradtitolo fs-2">NOME</label>
                <h5 class="card-title fw-bolder mb-3 fs-4">
                  {{ user?.nome }}
                </h5>
                <label class="fs-2 gradtitolo">COGNOME</label>
                <h5 class="card-title mb-3 fw-bolder fs-4">
                  {{ user?.cognome }}
                </h5>
                <label class="fs-2 gradtitolo">USERNAME</label>
                <h3 class="card-text mb-3 fw-bolder fs-4">
                  {{ user?.username }}
                </h3>
                <label class="gradtitolo fs-2" for="">EMAIL</label>
                <p class="card-text mb-3 fs-4 fw-bolder">
                  {{ user?.email }}
                </p>
                <label class="gradtitolo fs-2" for="">GENERE</label>
                <p class="card-text mb-3 fw-bolder fs-4">{{ user?.genere }}</p>
                <label class="gradtitolo fs-2" for="">IDENTIFICATIVO</label>
                <p class="card-text fs-4">{{ user?.id }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-0 m-0">
      <h1 class="text-center pt-5 fw-bolder gradtitolo pt-5">
        I TUOI PERSONAGGI
      </h1>

      <div class="row">
        <!--inserire dati  attualmente sono place older-->

        <!--ngfor da inserire-->
        <div
          class="d-flex justify-content-center px-0 m-3"
          *ngFor="let pg of combina"
        >
          <div class="mb-3 cd my-5">
            <div class="row">
              <div class="col myGradient text-light rounded-5 p-4">
                <div class="row">
                  <div class="col-6 ps-5">
                    <div class="card-body">
                      <label class="fs-2 gradtitolo">NOME AVVENTURIERO</label>
                      <h5 class="card-title fw-bolder mb-3 fs-3">
                        {{ pg.characters.characterName }}
                      </h5>
                      <label class="gradtitolo fs-2 mt-3" for="">RAZZA</label>
                      <h5 class="card-title fw-bolder mb-3 fs-3">
                        {{ pg.race.raceName }}
                      </h5>
                      <p>{{ pg.race.raceBio }}</p>
                      <h3 class="card-text mb-2 fs-2 mt-4 gradtitolo">
                        STATISTICHE
                      </h3>
                      <p>
                        Agilità-
                        {{ pg.race.traits.Agilita }}
                      </p>
                      <p>
                        Carisma-
                        {{ pg.race.traits.Carisma }}
                      </p>
                      <p>
                        Forza-
                        {{ pg.race.traits.Forza }}
                      </p>
                      <p>
                        Intelligenza-
                        {{ pg.race.traits.Intelligenza }}
                      </p>
                      <p>
                        Resistenza-
                        {{ pg.race.traits.Resistenza }}
                      </p>
                      <label class="fs-2 gradtitolo mt-3">CLASSE</label>
                      <h3 class="card-text mb-3 fw-bolder fs-3">
                        {{ pg.classe.className }}
                      </h3>
                    </div>
                  </div>
                  <div class="flip-box col-6 d-flex justify-content-center">
                    <div class="flip-box-inner">
                      <div class="flip-box-front imgFade">
                        <img
                          [src]="pg.classe.img"
                          alt="immagine avventuriero"
                          class="img-fluid rad"
                        />
                      </div>
                      <div class="flip-box-back">
                        <img
                          [src]="pg.race.img"
                          alt="immagine avventuriero"
                          class="img-fluid rad"
                        />
                      </div>
                    </div>
                  </div>

                  <!--------------------------------------->
                  <div class="row">
                    <div class="col-12 px-5">
                      <p class="card-text mb-4">
                        {{ pg.classe.bio }}
                      </p>
                    </div>
                    <div class="col-12 text-center">
                      <label for="" class="py-2 fs-2 gradtitolo mt-3"
                        >ABILITÀ</label
                      >
                      <div class="table-container">
                        <table class="skill-table">
                          <thead>
                            <tr>
                              <th>Nome Abilità</th>
                              <th>Effetto</th>
                              <th>Costo XP</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let sk of pg.skills">
                            <!--ng for per le abilità legate al pc-->
                            <tr>
                              <td>{{ sk.skillName }}</td>
                              <td>{{ sk.skillDescription }}</td>
                              <td>{{ sk.exp }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <button
                        class="btn myBtn"
                        (click)="deleteCharacter(pg.characters.id)"
                      >
                        ELIMINA PERSONAGGIO
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fine col-->
      </div>
    </div>
  </div>
</div>
